/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --color-white: #fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-varient:#0A2558;
    --color-background:#f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    padding-top: 120px; 
    padding-left: 50px; 
    padding-right: 50px;
}

/* .main-container{
    background-color: white;
    padding: 40px 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
} */
.cards_heading{
    grid-template-columns: 4.5% 14% 14% 4.5% 14% 14% 14% 14%;
    grid-column-gap: 1%;
    color: var(--black);
    max-width: 100%;
    margin: auto;
    padding: 1%;
    font-size: 1rem;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    display: grid;
}
.head{
    font-size: 1rem;
    
    
}
.cards_color{
   
    background: #ffffff;
    font-weight: normal;
    color: black;
    margin-bottom: 10px;
    margin-right: 0;
    font-size: 1rem;
    
}


@media(max-width:768px) {
    .cards_heading{
        max-width: 90%;
    }
    .main_heading{
        font-size: 28px;
    }
    .head{
        font-size: 18px;
    }
    .blue_color_cards_data{
        font-size: 18px;
    }
    .white_color_cards_data{
        font-size: 18px;
    }
}

@media(max-width:425px) {
    .cards_heading{
        max-width: 95%;
    }
    .main_heading {
        font-size: 24px;
    }
    .head{
        font-size: 16px;
    }
    .blue_color_cards_data {
        font-size: 14px;
    }
    .white_color_cards_data {
        font-size: 14px;
    }
}

.select-menu{
    
    width: 800px;
    margin-top: 5px; 
    margin-bottom: 20px; 
    align-items: center;
}
h4{
    
    padding-right: 1rem;
    
    margin-top: 5px;
}
.abc{
    display: flex;
    
}
.btnview{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 0px;
    max-width: 100px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #0A2558;
    transition: all 0.3s linear;
    cursor: pointer;
}
.select-menu .select-btn{
    display: flex;
    
    height: 35px;
    background: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    
}
.select-btn i{
    font-size: 15px;
    transition: 0.3s;
    
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
    
}
.options .option{
    display: flex;
    height: 35px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;

}
.option i{
    font-size: 15px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 15px;
    color: #333;
}


.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    padding: 0 auto;
}

.profile-details i{
    padding: 0px 30px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}






.welcome{
    font-size: 20px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.bx-bell{
    padding: 10px 10px;
}


.btn{
    display:block;
    width:100%; 
    height:50px;
    border-radius: 25px;
    margin:1rem 0;
    font-size:1.2rem;
    outline:none;
    border:none;
    background-image: linear-gradient(to right, #0A2558, #0e3276, #0A2558);
    cursor:pointer;
    color:#fff;
    text-transform: uppercase;
    background-size: 200%;
    transition:0.5s;
}


.logo{
    width: 175px;
    margin: 0 auto;
}

/*progress bar*/
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.skill-box{
    
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 10px 0 0 0;
    border-radius: 7px;
    
}
.skill-box .title{
<<<<<<< Updated upstream
=======
    margin-top: 15px;
>>>>>>> Stashed changes
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
    
}
.skill-bar .skill-per{
    position:relative;
    display: block;
    height: 100%;
<<<<<<< Updated upstream
=======
    max-width: 100%;
>>>>>>> Stashed changes
    border-radius: 6px;
    background: var(--color-primary-varient);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

<<<<<<< Updated upstream
=======
/* recent donations */
.donation_list  .contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-list .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.username {
    font-size: 16px;    
    margin-right: 20px;
}

.amount {
    font-size: 16px;
}
>>>>>>> Stashed changes

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

/*gig card*/
.gigcontainer{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
  }
  .gigcontainer .box{
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
<<<<<<< Updated upstream
    align-items: center;
=======
    /* align-items: center; */
>>>>>>> Stashed changes
    padding: 20px 30px;
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
  }
  .mid{
<<<<<<< Updated upstream
    display: flex;
    flex-direction: column;
=======
    width: 100%;
    display: grid;
    grid-template-columns: 55% 44%;
    grid-column-gap: 1%;
>>>>>>> Stashed changes
    /* center the items vertically within the column */
    /* align-items: center;  */
    /* center the items horizontally within the column */
    justify-content: center;
  }
  .easy{
      display: flex;
      flex-direction: column;
      align-items: left;
      max-width: 500px;
  }
  .due-date{
<<<<<<< Updated upstream
    color: green;
=======
    color: black;
>>>>>>> Stashed changes
  }
  .box .quote i{
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb
  }
  .gigcontainer .box .image{
    margin: 25px 0;
    height: 350px;
    width: 500px;
    background: #D6E4F0;
    padding: 3px;
    border: none;
    border-radius: 4px;
  
    
  }
  .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }
  .box p{
    text-align: justify;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
  }
  .box .name_job{
    margin: 10px 0 3px 0;
    color: #0A2558;
    font-size: 24px;
    font-weight: 600;
  }
  .rating i{
    font-size: 18px;
    color: #8e44ad;
    margin-bottom: 5px;
  }
  .btns a{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: right;
    width: 100%;
  }
<<<<<<< Updated upstream
  .btns2 a{
=======
  .btns2{
>>>>>>> Stashed changes
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: right;
<<<<<<< Updated upstream
    width: 980px;
=======
    width: 100%;
>>>>>>> Stashed changes
  }
  a button{
    background: #0A2558;
    width: 100%;
    padding: 9px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #fff;;
    transition: all 0.3s linear;
  }
  a .btn-back{
    background: #0A2558;
<<<<<<< Updated upstream
    width: 15%;
    padding: 9px;
=======
    width: fit-content;
    padding: 9px 60px;
>>>>>>> Stashed changes
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #fff;;
    transition: all 0.3s linear;
  }
  
  .btns a button:hover{
    background: #0A2558;
    color: #fff;
  }
  
  @media (max-width:1045px){
    .container .box{
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }
  @media (max-width:710px){
    .gigcontainer .box{
      width: 100%;
    }
  }

/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
}

/*========Main======*/
