/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --color-white: #fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-varient:#111e88;
    --color-background:#f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --dark-blue:#111e88;

}

   
main{
<<<<<<< Updated upstream
    padding-top: 120px;
}

=======
    padding-top: 120px; 
    padding-left: 120px; 
    padding-right: 50px;
}
>>>>>>> Stashed changes
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
<<<<<<< Updated upstream

.container{
    position: relative;
    max-width: 900px;
    /*width: 100%;*/
    border-radius: 6px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
=======
.container{
    
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #D6E4F0;
>>>>>>> Stashed changes
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container .form_first{
    overflow:auto;
}
<<<<<<< Updated upstream
.photo-container{
    max-width: 400px;
	width: 100%;
	background: #fff;
	padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 2PX;
    padding-right: 5px;
	border-radius: 30px;
}

.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
=======

>>>>>>> Stashed changes
.select-image {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	padding: 5px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
    margin-left: 10px;
    
}
.select-image:hover {
	background: var(--dark-blue);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
<<<<<<< Updated upstream
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    /*min-height: 400px;*/
    background-color: #fff;
=======
    background-color: #0A2558;
}
.container form{
    position: relative;
    margin: 16px 0px;
    min-height: 400px;
    background-color: #D6E4F0;
>>>>>>> Stashed changes
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
<<<<<<< Updated upstream
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
=======
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0px 8px 0px;
>>>>>>> Stashed changes
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
<<<<<<< Updated upstream
    font-size: 12px;
=======
    font-size: 16px;
>>>>>>> Stashed changes
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
<<<<<<< Updated upstream
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
=======
.image-upload-button, .image-clear-button, .backBtn{
    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 45px;    
    width: 45%;
>>>>>>> Stashed changes
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 0 0;
<<<<<<< Updated upstream
    background-color: #4070f4;
=======
    background-color: #163172;
>>>>>>> Stashed changes
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
<<<<<<< Updated upstream
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

=======
.image-upload-button:hover, .image-clear-button:hover{
    background-color: #0A2558;
}

form .backBtn i{
    transform: rotate(180deg);
}
>>>>>>> Stashed changes

.edit, .changepassword, .delete{
    
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width:100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
<<<<<<< Updated upstream
    background-color: #4070f4;
=======
    background-color: #163172;
>>>>>>> Stashed changes
    transition: all 0.3s linear;
    cursor: pointer;
}

<<<<<<< Updated upstream
=======
.edit:hover, .changepassword:hover, .delete:hover{
    background-color: #0A2558;
}
.image-upload-container{
    
	width: 400px;
    height: 340px;
    display: block;
	background: #fff;
	padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 2PX;
    padding-right: 5px;
	border-radius: 30px;
    margin: 20px 0px;
}

.selected-image-container {
	position: relative;
	width: 100%;
	height: 240px;
	margin-bottom: 20px;
	border-radius: 15px;
	overflow: hidden;
	display: block;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    border-radius: 30px;
}

.selected-image-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}

.selected-image-container .icon{
    font-size: 250px;
    align-self: center;
}

.selected-image-container::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.selected-image-container.active:hover::before {
	opacity: 1;
}

.buttons{
    margin: 15px;
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-submit {
    width: 25%;
    background-color: #163172;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: #0d1f4a;
}

>>>>>>> Stashed changes
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
 



.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    padding: 0 auto;
}

.profile-details i{
    padding: 0px 30px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}



<<<<<<< Updated upstream



=======
>>>>>>> Stashed changes
.welcome{
    font-size: 20px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.bx-bell{
    padding: 10px 10px;
}


.btn{
    display:block;
    width:100%; 
    height:50px;
    border-radius: 25px;
    margin:1rem 0;
    font-size:1.2rem;
    outline:none;
    border:none;
    background-image: linear-gradient(to right, #0A2558, #0e3276, #0A2558);
    cursor:pointer;
    color:#fff;
    text-transform: uppercase;
    background-size: 200%;
    transition:0.5s;
}


.logo{
    width: 175px;
    margin: 0 auto;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
}

/*========Main======*/
