* {
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

.loginSec1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #F6F6F6;
}

.logo {
    margin: 8px 14px;
    height: 70px;
    width: 70px;
    float: left;
    cursor: pointer;
}

.top h1 {
    color: #163172;
    font-size: 50px;
    margin: 8px;
    width: 400px;
}

.left {
    position: absolute;
    top: 10%;
    left: 0;
    width: 55%;
    height: 90%;
    background-color: #D6E4F0;
    border-radius: 150px 0px 0px 0px;
}

.log_left {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 60%;
    height: 90%;
    background-color: #D6E4F0;
    border-radius: 0px 150px 0px 0px;
}

.img_reg,
.img_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 650px;
}

.right {
    position: absolute;
    top: 10%;
    left: 55%;
    width: 45%;
    height: 90%;
    background-color: #D6E4F0;
}

.log_right {
    position: absolute;
    top: 10%;
    left: 0;
    width: 40%;
    height: 90%;
    background-color: #D6E4F0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.menu {
    margin: 10px 10px 0px 0px;
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    float: right;
}

li.menu {
    float: right;
}

li a {
    background-color: #163172;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 14px 20px;
    margin-right: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #0d1f4a;
    ;
}

.right h1 {
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.log_right h1 {
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.log_right input[type=button] {
    margin: 14px 0px;
}

p {
    text-align: right;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
input[type=password]:focus {
    outline: none;
}

input[type=submit] {
    width: 100%;
    background-color: #163172;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0d1f4a;
}


/*Registration*/

.error {
    color: red;
    font-size: x-small;
}

table {
    width: 100%;
}

.tab {
    overflow: hidden;
    border: none;
    width: fit-content;
    border-radius: 4px;
    background-color: #D6E4F0;
    color: white;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: #163172;
    color: white;
    float: left;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    margin-right: 5px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #0d1f4a;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #0d1f4a;
}


/* Style the tab content */

.tabcontent {
    display: none;
    width: 100%;
    padding: 6px 0px;
    border: none;
}

.form {
    width: 100%;
}

#Individual {
    display: block;
}

.welcomebanner {
    color: #163172;
    font-size: 100px;
    font-weight: bold;
}

ul.frombtn {
    width: 100%;
    background-color: #163172;
    color: white;
    font-size: inherit;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    list-style-type: none;
    display: block;
}

li.formbtn {
    list-style-type: none;
}

li a {
    background-color: #163172;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 14px 20px;
    margin-right: 10px;
    text-decoration: none;
    overflow: hidden;
}

li a:hover {
    background-color: #0d1f4a;
    ;
}

.tooltip {
    position: relative;
    display: inline-block;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    top: 100%;
    left: 50%;
    margin-left: -200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}